@charset "utf-8";
/* CSS Document */
.badDrive_tab_c{ float:right; margin:11px 6px 0 0;}
.badDrive_tab, .badDrive_tabs{ width:80px; height:28px; line-height:28px; text-align:center; color:#212121; display:block; float:left; margin-right:4px;}
.badDrive_tab{background:url(../newimages/badDrive_tab.gif) no-repeat left top;}
.badDrive_tabs{background:url(../newimages/badDrive_tabs.gif) no-repeat left top; font-weight:bold;}

.car-badDrive-alarm{ height:194px; text-align:center;}
.badDrive_select{ border-top:1px solid #ccc; width:100%; height:33px; background:#f5f5f5; padding-top:11px; line-height:22px;}
.badDrive_sel_txt, .badDrive_sel_txt2{width:74px;  height:44px; font-weight:bold; display:block; float:left; text-align:right;}
.badDrive_sel_txt2{ margin-left:16px}
.badDrive_add{ height:27px; line-height:27px; text-indent:20px; background:#f5f5f5;}

.badDrive_table_c{width:100%; height:156px; background:#f5f5f5;}
.badDrive_t_c{ height:100%; margin:0 4px 4px 4px; }
.badDrive_add_tit{ text-indent:20px; font-weight:bold;}
.badDrive_add_txt{ margin-right:20px;}

.chartDetail_c{ width:706px; border:0px solid #999; position:absolute; left:248px; top:169px; z-index:101; }/* background:#eee; */
.chartDetail_c2{ width:706px; border:0px solid #999; position:absolute; left:248px; top:169px; z-index:101; }
.chartDetail_c_oil{ width:1150px; border:0px solid #999; position:absolute; left:248px; top:169px; z-index:101; }
.chartDetail_title{ height:29px; width:100%; background:url(../newimages/chartDetail_t_c.png) repeat-x left top; position:relative; line-height:31px; text-indent:11px; color:#fff; font-weight:bold;}
.chartDetail_title .close{ position:absolute; right:7px; top:7px; cursor:pointer;}
.chartDetail_title2{ height:29px; width:100%; background:url(../newimages/chartDetail_t_c2.png) repeat-x left top; position:relative; line-height:31px; text-indent:11px; color:#fff; font-weight:bold;}
.chartDetail_title2 .close{ position:absolute; right:7px; top:7px; cursor:pointer;}
.chartDetail_title_oil{ height:29px; width:100%; background:url(../newimages/chartDetail_t_oil.png) repeat-x left top; position:relative; line-height:31px; text-indent:11px; color:#fff; font-weight:bold;}
.chartDetail_title_oil .close{ position:absolute; right:7px; top:7px; cursor:pointer;}
.chartDetail_bottom{ height:10px; width:100%; background:url(../newimages/bgbottom.png) repeat-x left top; position:relative; line-height:10px; text-indent:11px; color:#221c00; font-weight:bold;}
.chartDetail_bottom2{ height:10px; width:100%; background:url(../newimages/bgbottom2.png) repeat-x left top; position:relative; line-height:10px; text-indent:11px; color:#221c00; font-weight:bold;}
.chartDetail_bottom_oil{ height:10px; width:100%; background:url(../newimages/bgbottom_oil.png) repeat-x left top; position:relative; line-height:10px; text-indent:11px; color:#221c00; font-weight:bold;}
.chartDetail_cent{ width:100%; height:383px; margin-left:10px;background:#fff;}
.chartDetail_cent001{ background:url(../newimages/bgchart.png) repeat-y;width:100%; height:383px;}
.chartDetail_cent2{ width:100%; height:383px; margin-left:10px;background:#fff;}
.chartDetail_cent2001{ background:url(../newimages/bgchart2.png) repeat-y;width:100%; height:450px;}

.chartDetail_cent_oil{ width:100%; height:280px; margin-left:10px;background:#fff;}
.chartDetail_cent_oil001{ background:url(../newimages/bgchart_oil.png) repeat-y;width:100%; height:280px;}
.chartDetail_c_c{ border:1px solid #b6b5b5;}

.lt{ position:absolute; left:0; top:0;}
.rt{ position:absolute; right:0; top:0;}
.ridealarm_warn{
	width:100%;
	height:250px;
	border-bottom:1px solid #999999;
}