html, body{ margin:0; padding:0; border:none; font:12px/18px  'Microsoft Yahei','微软雅黑',Arial,Verdana;}
ul{margin:0;padding:0;}
img{border:0;margin:0;padding:0;}
#statusManger .car-info{
	background:#f5f5f5;
	border-bottom:1px solid #cccccc;
	height:35px;
	line-height:35px;
}
.btn-blue{
	border:0;
	background: url(../images/btn_blue.gif) no-repeat;
	width:76px;
	height:28px;
	font-size:14px;
	color:#ffffff;
}

#statusManger .car-info h1{
	font-size:14px;
	margin:0 10px;
	float:left;
}
#statusManger .car-info .times{
	font-size:12px;
	font-weight:normal;
	border-left:1px solid #000;
	padding-left:10px;
}
#statusManger .car-status{
	margin:10px 20px;
	height:80px;
}
#statusManger .car-status li{
	list-style:none;
	width:120px;
	height:70px;
	float:left;
	padding-left:55px;
}
.car-status li h4{
	margin:0;
	padding-left:10px;
}
.car-status li span{
	margin-left:10px;
	padding-left:20px;
	line-height:20px;
	background:url(../images/line_status_normal.png) no-repeat;
}
.car-status li .green{
	background: url(../images/line_status_g.png) no-repeat;
}
.car-status li .red{
	background: url(../images/line_status_r.png) no-repeat;
}

.car-status li.water{
	background: url(../images/status_water.png) no-repeat;
}
.car-status li.electricity{
	background: url(../images/status_electricity.png) no-repeat;
}
.car-status li.err{
	background: url(../images/status_err.png) no-repeat;
}
.car-status li.block{
	background: url(../images/status_block.png) no-repeat;
}
.car-status li.temperature{
	background: url(../images/status_temperature.png) no-repeat;
}
.list-area{
	border-top:1px solid #cccccc;
	background:#f5f5f5;
}
.list-sech{
	height:35px;
	line-height:35px;
}
.list-sech font{
	font-weight:bold;
	margin:0 20px;
}
.unusual{ 
	width:80px;
	height:18px;
	display:block;
	color:#ffffff;
	text-align:center;
	background: url(../images/list_unusual_bg.png) no-repeat;
}